# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
logs/

# Artifacts
artifacts/cache/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/*
data/processed/*
data/interim/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep

logs/

*.ckpt
*.pt
*.bin
*.safetensors

.DS_Store
.ipynb_checkpoints/

data/raw/