# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Checkpoints
artifacts/
checkpoints/

# Logs
logs/

# W&B
wandb/

# VS Code
.vscode/

# Dataset cache
.cache/

# HuggingFace cache
hf_cache/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db